
#holder
{
height:10px;
width:300px;
background-color:black;
border-radius:20px;
padding:1px;
}
#content
{
height:10px;
width:50%;
background-color:red;
border-radius:20px;
}
#content2
{
height:10px;
width:25%;
background-color:yellow;
border-radius:20px;
}
#content3
{
height:10px;
width:25%;
background-color:green;
border-radius:20px;
}
#content4
{
height:10px;
width:0px;
background-color:blue;
border-radius:20px;
}
#outer-content
{
height:10px;
width:100%;
background-color:white;
border-radius:20px;
}


